{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Questionnaire</title>
</head>

<body>
    <div class="header">
        <span class="spanHeader"onclick="">Questionnaire</span>
    </div>
    <div class="form-container">
        <form action="../correction/" id="form" class="form" method="post">
            {% csrf_token %}
        </form>
    </div>


   


</body>

<script type="text/javascript" src="{% static 'functionQuestionnaire.js' %}"></script>
<script type="text/javascript" src="{% static 'functiontest.js' %}"></script>



<script>
    function CreateButtonSubmit(form){ // crée le bouton pour submit quand la fonction est appelée
        let divButton = document.createElement("div"); // create div element
        divButton.setAttribute("class","btn-container");
        form.appendChild(divButton); // on l'ajoute au form

        let btn = document.createElement("button"); // create button element
        btn.setAttribute("class","btn-submit");
        btn.setAttribute("name","jsonUpload");
        btn.setAttribute("value","");
        btn.innerHTML = "Valider";
        divButton.appendChild(btn); //on l'ajoute au container qui est lui meme dans le form (ligne 44)
    }

    function ReadJSON(){ // va recuperer le JSON et appeler les differentes fonctions en fonction du type des questions
        let json = JSON.parse("{{jsonfile|escapejs}}"); // recupere le JSON depuis le contexte ( escapeJS permet de recuperer un JSON propre et pas polué avec des symboles bizarres du a Django)
        let QCM = json.QCM; 
        let length = Object.keys(QCM).length; // recupere le nombre de question 

        
        for (let i=1; i < length+1; i++){ // va executer une fonction pour chaque passage dans la boucle
            let question = QCM[i];
            let Type = question.type; // recupere le type dans le JSON
            eval(Type)(question,document.getElementById("form"),i); // appelle une fonction (possiblement dans ce qui a ete importé par l'utilisateur ou dans les fonctions implementées de base)
        }
    }
    ReadJSON(); //appelle la fonction ci dessus
    CreateButtonSubmit(document.getElementById("form")); //creer le bouton après la creation de toutes les questions

    
</script>
</html>